{% extends "AppBundle:Layout:web.html.twig" %}
{% import "AppBundle:Macros:MurmurTreeBuilder.html.twig" as murmur_tree_builder %}

{% block meta_title %}{{ server.name }}{%endblock %}

{% block body %}
<h1 class="page-header"><a href="{{ path('web.index') }}" class="back-link">&lt;</a> {{ server.name }}</h1>

<ul>
    {{ murmur_tree_builder.full_tree(server.tree.children) }}
</ul>

{% endblock %}

