{% extends "ResourceBundle:Layout:base.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% include "ResourceBundle:Layout:flash.html.twig" %}
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block meta_others %}
    <link href="{{ asset('/stylesheets/web.css') }}" rel="stylesheet" media="screen" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/javascripts/web.js') }}" type="text/javascript"></script>
{% endblock %}
