{% extends "ResourceBundle:Layout:hub.html.twig" %}

{% block meta_title %}Hub{%endblock %}

{% block body %}
    <h1 class="page-header">Administration</h1>
    <div class="row">
        <div class="col-md-6">
            <h3>Serveurs</h3>
            <div class="list-group">
            {% for server in allServers %}
                <a href="{{ path('hub.view', {'serverId': server.id}) }}" class="list-group-item list-group-item-{% if server.isRunning %}success{% else %}danger{% endif %}">{{ server.name }}</a>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
